[submodule "polymer_local/NodeBind"]
	path = polymer_local/NodeBind
	url = https://github.com/Polymer/NodeBind
[submodule "NodeBind"]
	path = NodeBind
	url = https://github.com/Polymer/NodeBind
[submodule "polymer_local/components/NodeBind"]
	path = polymer_local/components/NodeBind
	url = https://github.com/Polymer/NodeBind
[submodule "impress.js"]
	path = impress.js
	url = https://github.com/bartaz/impress.js/
